{% load static %}
<!DOCTYPE html>
{% block site_css %}
<html lang="en">
	<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
	<link rel="stylesheet" href="{% static 'home/css/all-post.css' %}">
{% endblock %}

{% block body %}
<section>
    <h2> JourNews! </h2>
    {% for journey in journeys %}
    <ol>
        <li>
            <article>
                <div class="post-summary">
                    <div class="post-image">
                        <img src="/uploads/highlighted_images/20220716_055909_a5z2tfV.jpg" alt="{{journey.title}}">
                    </div>
                    <div class="post-details">
                        <h3>{{journey.title}}</h3>
                        <address> {{journey.location}}</address>
                    </div>
                </div>
                <div class="post-actions">
                    <a href="post-detail.html" class="btn"> More Details</a>
                </div>
            </article>
        </li>
    </ol>
    {% endfor %}

</section>

{% endblock %}

    
</html>