<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    {% block style%}
    <link href="{% static '/registration/css/login.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1a38de60ea.js" crossorigin="anonymous"></script>
    {% endblock %}

</head>
<body style="background-color:tomato;">
    <div class="center" >
        <h1>Login</h1>
        <form method=POST>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="pass">Forgot Password?</div>
            <input type="submit" value="Login">
            <div class="signup_btn">
               Not a member? <a href="#">Signup</a>
            </div>
        </form>
        <div class="socials">
            <a href="#" >
                <i class="fa-brands fa-facebook fa-3x" style="color:#3b5998"></i>
            </a>
            <a href="#" >
                <i class="fa-brands fa-twitter fa-3x" style="color: #00acee;"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-google fa-3x" style="color: #ea4335;"></i>
            </a>
        </div>
    </div>

</body>
</html>


